@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@font-face{
    font-family: 'TankTrouble';
    src:url('../media/fonts/TankTrouble.eot');
    src:url('../media/fonts/TankTrouble.eot?#iefix') format('embedded-opentype'),
    url('../media/fonts/TankTrouble.woff2') format('woff2'),
    url('../media/fonts/TankTrouble.woff') format('woff'),
    url('../media/fonts/TankTrouble.ttf')  format('truetype'),
    url('../media/fonts/TankTrouble.svg') format('svg');;
}

/*
// yellow: #ddb135 
// purple: #6e25a4
*/

:root {
    --dflt-purple: #6e25a4;
    --dflt-yellow: #F1C439;
}
@media (prefers-color-scheme: dark) {
    :root {
        --first-theme-colour: #1e1f24;
        --sec-theme-colour: #121214;

        --yellow: #b8860b; 
        --purple: #441d4a;

        --button-yellow: #c09e36;

        --first-bg: var(--yellow);
        --first-title: #000;
        --first-text: #000;

        --sec-bg: var(--purple);
        --sec-title: #fff;
        --sec-text: #fff;

        --shadow-colour: #0000008a;
    }
    .btn.fbtn, .black.ttfont {
        color: var(--sec-text) !important;
    }
    a.btn-dark, a.btn-light {
        -webkit-text-stroke: 0 !important;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --first-theme-colour: #fff;
        --sec-theme-colour: #000;

        --yellow: #F1C439; 
        --purple: #6e25a4;

        --first-bg: var(--yellow);
        --first-title: #000;
        --first-text: #000;

        --sec-bg: var(--purple);
        --sec-title: #fff;
        --sec-text: #fff;

        --shadow-colour: #0000008a;
    }
    h1, h2, a {
        -webkit-text-stroke: 0 !important;
    }
    .main.brackets iframe {
        -webkit-filter: invert(1) brightness(1.25);
                filter: invert(1) brightness(1.25);
    }
}

/* Add class noShadow to images that should not have the drop shadow */
.divpad img:not(.noShadow) { 
    -webkit-filter:drop-shadow(0.125rem 0.125rem 0.375rem var(--shadow-colour)); 
            filter:drop-shadow(0.125rem 0.125rem 0.375rem var(--shadow-colour));
}

.pback,.yback,.blackback {
    box-shadow:0 0 2.5rem var(--shadow-colour);
}

/* Alignments */
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.indent {
    text-indent: 3.125rem;
}

/* backgrounds */
.yback {
    background-color: var(--first-bg);
}
.yback p, .yback li {
    color: var(--first-text);
}
.pback p, .pback li {
    color: var(--sec-text);
}

.yback h1, .yback h2, .yback a, .yback a:visited, .yback a:hover {
    color: var(--first-title);
    -webkit-text-stroke: 0;
}
.pback h1, .pback h2, .pback a, .pback a:visited, .pback a:hover {
    color: var(--sec-title);
}

.pback {
    background-color: var(--sec-bg);
}

.whiteback {
    background-color: var(--first-theme-colour);
}

.whiteback h1, .whiteback h2, .whiteback a, .whiteback a:visited, .blackback a:hover  {
    color: var(--dflt-purple);
}

.whiteback p, .whiteback li {
    color: var(--sec-theme-colour);
}

.whiteback a:hover, .blackback h1, .blackback h2, .blackback p, .blackback a {
    color: var(--dflt-yellow);
}

.blackback {
    background-color: var(--sec-theme-colour);
}

.blackback p, .blackback li {
    color: var(--first-theme-colour);
}

/* Padding and margins */
.textdivmargin {
    padding-left: 0;
    padding-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.textpad {
    padding: 0 1.25rem 0 1.25rem;
}

.nopad {
    padding: 0 0 0 0;
}

.padded {
    padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
}

/* Tag items */
img {
    max-width: 100%;
    vertical-align: middle;
}

.imgfull {
    width: 100%;
}

nav {
    background: var(--sec-theme-colour);
}

div {
    display: block;
    overflow: hidden;
    padding: none;
}

a {
    font-family: 'TankTrouble', sans-serif;
    text-decoration: none;
    font-size: 1rem;
    -webkit-text-stroke: 1px black;
}

a:hover {
    text-decoration: none;
    font-size: 1rem;
}

a:visited:hover {
    text-decoration: none;
    font-size: 1rem;
}

p {
    display: block;
    font-family: 'Lexend Deca', sans-serif !important;
    text-decoration: none;
    font-size: 1rem;
}

li {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-size: 1rem;
}

h1 {
    font-family: 'TankTrouble', sans-serif;
    font-size: 2rem;
    -webkit-text-stroke: 1.5px black;
}

h2 {
    font-family: 'TankTrouble', sans-serif;
    font-size: 1.25rem;
    -webkit-text-stroke: 1px black;
}

.ttfont {
    font-family: 'TankTrouble', sans-serif !important;
}

/* Navigation Bar */
.nonstick {
    text-align: center;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
}

.logo {
    width: 100%;
}

.navbar-brand {
    float: left;
    height: 3.125rem;
    padding: 0.3125rem 0 0.3125rem 0;
    line-height: 0.0625rem;
}

.nav-link {
    vertical-align: 50%;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--dflt-yellow) ;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--dflt-purple);
}

.rbtn {
    background-color: var(--first-bg) ;
    color: var(--sec-theme-colour) !important;
    border: 2px solid var(--sec-theme-colour);
}

.rbtn:hover {
    background-color: var(--sec-bg);
    color: var(--first-theme-colour) !important;
    border: 2px solid var(--first-theme-colour);
}


/* Content */
.main {
    margin: 0 0 0 0;
    word-wrap: break-word;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
}

.divpad {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
}

.toppad {
    padding-top: 1.5625rem;
}

.botpad {
    padding-bottom: 1.5625rem;
}

hr {
    background-color: var(--sec-theme-colour);
    width: 120%;
    height: 0.75rem;
    border-top: 0.0625rem solid var(--sec-theme-colour);
    margin: 0 0 0 0;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    -o-object-fit: cover;
       object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Footer items */
.foot {
    line-height: 1.5;
    border-top: 0.9375rem solid var(--sec-theme-colour);
    word-wrap: break-word;
}

.fbtn {
    background-color: var(--sec-bg);
    color: var(--first-theme-colour) !important;
    border: 0.125rem solid var(--first-theme-colour);
}

.fbtn:hover {
    background-color: var(--first-bg) ;
    color: var(--sec-theme-colour) !important;
    border: 0.125rem solid var(--sec-theme-colour);
}

/* Buttons */
.yback .btn {
    background-color: var(--sec-bg);
    color: var(--first-theme-colour) !important;
    border: 0.125rem solid var(--first-theme-colour);
}

.yback .btn:hover {
    background-color: var(--first-bg);
    color: var(--sec-theme-colour)!important;
    border: 0.125rem solid var(--sec-theme-colour);
}

.pback .btn {
    background-color: var(--button-yellow);
    color: var(--sec-theme-colour) !important;
    border: 0.125rem solid var(--sec-theme-colour);
}

.pback .btn:hover {
    background-color: var(--sec-bg);
    color: var(--first-theme-colour) !important;
    border: 0.125rem solid var(--first-theme-colour);
}

/* Manual */
.purple {
    color: var(--dflt-purple) !important;
}

.yellow {
    color: var(--dflt-yellow)  !important;
}

.white {
    color: var(--first-theme-colour) !important;
}

.black {
    color: var(--sec-theme-colour) !important; 
}

/* Image inside image */
.weaponunder {
    position: relative;
    text-align: center;
}

.bottom-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.bottom-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

/* Don't allow image dragging */
img, img::after, img::before {
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

/* Rotation code */
.rotate {
    -webkit-animation: rotation 12s infinite linear;
            animation: rotation 12s infinite linear;
}
@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-button {
    background-color: #353535;
    height: 0;
    width: 0;
    border-radius: 5px;
    transition-duration: .2s
}

::-webkit-scrollbar-track {
    background-color: #646464
}

::-webkit-scrollbar-track-piece {
    background-color: #5d2785;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #5a5a5a;
    border-radius: 2px;
    -webkit-transition: 1s;
    transition: 1s
}

::-webkit-scrollbar-thumb:hover {
    background-color: #707070
}

::-webkit-scrollbar-button:vertical:decrement {
    border-radius: 0;
    transition-duration: .2s
}

::-webkit-scrollbar-button:vertical:decrement:hover {
    background-color: #626262
}

::-webkit-scrollbar-button:vertical:increment {
    border-radius: 0;
    transition-duration: .2s
}

::-webkit-scrollbar-button:vertical:increment:hover {
    background-color: #626262
}

::-webkit-scrollbar-corner {
    background-color: #646464
}

::-webkit-resizer {
    background-color: #666
}