<!-- Footer -->
<div class="foot whiteback">
    <div class="row nopad">
        <div class="col-sm-2 center nopad textpad divpad">
            <h2 style="white-space: pre-wrap;" class="center">Created by&#13;&#10&#13;&#10</h2>
            <img src="../media/tanks/5am.png" loading="lazy">
            <h2 class="center">
                5am
                <a href="About.html">
                    and the Crew <img src="../media/special/SPA.png" class="noShadow" loading="lazy">
                </a>
            </h2>
        </div>
        <div class="col-sm-4 center nopad textdivmargin textpad divpad">
            <h2 class="center">
                Sponsored by the Developers of TankTrouble
            </h2>
            <div class="row center nopad">
                <div class="col-sm-6 nopad">
                    <img src="../media/tanks/purup.png" loading="lazy">
                    <h2 class="center ttfont">
                        purup
                    </h2>
                    <p class="center black ttfont">
                        Mads Purup
                    </p>
                </div>
                <div class="col-sm-6 nopad">
                    <img src="../media/tanks/bbc.png" loading="lazy">
                    <h2 class="center ttfont">
                        bbc
                    </h2>

                    <p class="center black ttfont">
                        Brian Bunch Christensen
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 textdivmargin nopad divpad">
            <!-- <p class="center">
                <a class="btn fbtn" href="Signup.html" style="font-size: 1.5em;">
                    Sign Up
                </a>
            </p> -->
            <p class="center">
                <a href="#top" class="btn fbtn">
                    Back to top
                </a>
            </p>
            <p class="center">
                <a class="btn fbtn" role="button" href="https://tanktrouble.com" target="_blank">
                    Play TankTrouble Online
                </a>
            </p>
            <p class="center">
                <a class="btn fbtn" role="button" href="https://tanktrouble.com/forum" target="_blank">
                    Visit the Forum
                </a>
            </p>
            <h1 class="center">
                Jump to Page
            </h1>
            <h2 class="center textdivmargin">
                <a href="../index.html">
                    Home
                    <img src="../media/special/SPA.png" class="noShadow" loading="lazy">
                </a>
                <a href="../html/Gamemodes.html">
                    Gamemodes
                    <img src="../media/special/SPA.png" class="noShadow" loading="lazy">
                </a>
                <a href="../html/Standards.html">
                    Standards
                    <img src="../media/special/SPA.png" class="noShadow" loading="lazy">
                </a>
                <a href="../html/Results.html">
                    Results
                    <img src="../media/special/SPA.png" class="noShadow" loading="lazy">
                </a>
                <a href="../html/About.html">
                    About
                    <img src="../media/special/SPA.png" class="noShadow" loading="lazy">
                </a>
            </h2>
        </div>
    </div>
    <!-- Footer ending -->
    <div class="row center blackback textdivmargin">
        <div class="col-sm-4 divpad textdivmargin">
            <p class="textdivmargin">
                <a href="https://getbootstrap.com" target="_bank">
                    Made with Bootstrap <img src="../media/special/SYA.png" class="noShadow" loading="lazy">
                </a>
            </p>
        </div>
        <div class="col-sm-4 divpad textdivmargin">
            <p class="yellow ttfont center textdivmargin">
                © TTOC Crew 2016 - 2021
            </p>
        </div>
        <div class="col-sm-4 divpad">
            <p class="textdivmargin">
                <a href="https://forms.gle/x4c6cqooDZcPKEs97" target="_bank">
                    Feedback <img src="../media/special/SYA.png" class="noShadow" loading="lazy">
                </a>
            </p>
        </div>
    </div>
</div>